.App {
  text-align: center;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  background-image: linear-gradient(to right top, #9c4cebb0, #8a8cf0, #5db1ff);
  background-repeat: no-repeat;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 90%;
}

.header {
  color: white;
  padding: 4px;
}

label {
  background-image: linear-gradient(to right top, #9c4cebb0, #8a8cf0, #5db1ff);
  color: white;
  padding: 2px;
}

.title {
  background-image: linear-gradient(to right top, #9c4cebb0, #8a8cf0, #5db1ff);
  color: white;
  padding: 2px;
  font-size: 30px;
  opacity: 90%;
}

button, input[type="submit"] {
  border-radius: 100px;
  padding: 5px 35px;
  border: 0px;
  background-image: linear-gradient(to left top, #3ae49d, #bce869, #ecb94a);
  background-repeat: no-repeat;
  color: black;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.MuiIconButton-root.MuiIconButton-root{
  padding: 3px;
}

.container {
  /* height: calc(100vh - 5px); */
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  /* overflow: scroll; */
}

.recipe-card {
  margin: auto;
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 10px;
  background-color: white;
  opacity: 90%;
  justify-items: center;
  max-width: 350px;
}

.recipe-card img {
  border-radius: 15px;
  width: 80%;
  cursor: pointer;
}

.MuiAccordionSummary-content {
  color: red;
  font-size: 20px;
}

.used-ingredients{
  background-image: linear-gradient(to right top, #9b4ceb, #6a6cdb, #70b6f8);
  color: white;
  padding: 2px;
  font-size: 30px;
  opacity: 90%;
}


button:hover, .nav-bar:hover, input[type="submit"]:hover, .title:hover, label:hover, .used-ingredients:hover {
  background-image: linear-gradient(to right top, #8A2387, #E94057, #F27121);
  background-repeat: no-repeat;
  color: white;
}

.recipe-card:hover {
  opacity: 100%;
  background-color: whitesmoke;
}



